doctype html
html(lang="en")
  head
    title(My PageTitle goes Here)
    link(rel="stylesheet", href="assets/css/styles.css")
  body
    .container
      header
        h1 Header
      .content
        p flex container
        .photocontainer
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
          img(src="http://www.fillmurray.com/g/100/100", alt="")
      footer
        p fuutteri
