doctype html
html(lang="en")
  head
    title MediaVaivio2016
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:700,300,400'")
    link(rel="stylesheet", href="assets/css/styles.css")
  body
    .container
      .bunnybox.width-50
      .content.width-50
        h1 iivonen.net/vaivio2016

        h2 Valokuvaus
        h3 Appsit
        .appBox
          .appLogo
            img(src="assets/img/appLogos/VSCO.png", alt="VSCO")
          h1 VSCO
          .storeBadge
            a(href="https://geo.itunes.apple.com/fi/app/vsco/id588013838?mt=8")
              img(src="assets/img/appstore-badge.svg", alt="itunes appstore")
          .storeBadge
            a(href="https://play.google.com/store/apps/details?id=com.vsco.cam")
              img(src="assets/img/play-badge.png", alt="playstore")
        .appBox
          .appLogo
            img(src="assets/img/appLogos/snapseed.png", alt="Snapseed")
          h1 Snapseed
          .storeBadge
            a(href="https://geo.itunes.apple.com/fi/app/snapseed/id439438619?mt=8")
              img(src="assets/img/appstore-badge.svg", alt="itunes appstore")
          .storeBadge
            a(href="https://play.google.com/store/apps/details?id=com.niksoftware.snapseed")
              img(src="assets/img/play-badge.png", alt="playstore")
                  
        h2 Video
        h3 Appsit
        .appBox
          .appLogo
            img(src="assets/img/appLogos/premiereclip.png", alt="VSCO")
          h1 Premiere Clip
          p HUOM! Vaatii Adobe tilin
          p Ei Android tabletille
          .storeBadge
            a(href="https://geo.itunes.apple.com/fi/app/adobe-premiere-clip/id919399401?mt=8")
              img(src="assets/img/appstore-badge.svg", alt="itunes appstore")
          .storeBadge
            a(href="https://play.google.com/store/apps/details?id=com.adobe.premiereclip")
              img(src="assets/img/play-badge.png", alt="playstore")
