@import "partials/normalize";
@import "partials/vars";
@import "partials/mixins";
@import "partials/base";

/*:root {
  --mainColor: red;
}*/
:root {
  font-size: $fontSize;
}

.container {
  background: honeydew;
  display: flex;
  flex-direction: column;
}
header {
  /*flex: 0 0 100%;*/
  /*width: 100%;*/
  background: pink;
  height: 200px;
}
.content {
  background: lightblue;
  /*height: 100px;*/
}
p {
  margin: 0;
  font-size: 1rem;
}
.photocontainer {
  width: calc(100px * 3 + 3 * 15);
  display: flex;
  flex-flow: row wrap;

  img {
    margin: 7px
  }
}

footer {
  flex-basis: 0;
  order: 1;
}
