@import "partials/normalize";
@import "partials/vars";
@import "partials/mixins";
@import "partials/base";
:root {
  font-size: $fontSize;
  font-family: 'Open Sans';
}
.width-50 {
  width: 50%;
}
img {
  max-width: 100%;
}
.container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.bunnybox {
  background: #fff url(../img/fibonacci_bunnies_large.jpg) no-repeat center center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  padding: 0 5%;
  h1, h2, h3 {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
    font-weight: 300;
  }
  h1 {
    margin: 20px 0;
  }
  p {
    font-size: 0.6em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
  }
}
.appBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  border: solid 2px lightgray;
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  h1 {
    font-size: 1.3em;
    text-align: left;
    flex-basis: auto;
    margin: 10px 0;
  }
  .appLogo img {
    width: 60px;
  }
  .storeBadge img {
    width: 150px;
    margin: 5px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    display: block;
    .width-50 {
      width: 100%;
    }
    .bunnybox {
      display: none;
    }
    .content {
      background: url(../img/fibonacci_bunnies_large.jpg) no-repeat center center fixed;
      .appBox {
        background: rgba(255, 255, 255, 0.9);
        text-align: center;
        h1 {
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 545px), screen and (max-device-width: 545px) {
  .content {
    display: block;
    background-image: none !important;
    .appBox {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      h1 {
        font-size: 4em;
        flex-basis: 100%;
      }
      p {
        font-size: 2em;
        flex-basis: 100%;
      }
      .appLogo img {
        width: 200px;
      }
      .storeBadge img {
        width: 400px;
      }
    }
  }
}
